<form method="post" action="/todos">
    {{#if todo}}
    <input type="hidden" name="id" value="{{todo._id}}">
    {{/if}}
    <label>Title:</label>
    <input type="text" name="title" value="{{todo.title}}" required>

    <label>Importance:</label>
    <input type="number" name="importance" min="1" max="5" value="{{todo.importance}}" required>

    <label>Due Date:</label>
    <input type="date" name="dueDate" value="{{todo.dueDate}}">

    <label>Description:</label>
    <textarea name="description">{{todo.description}}</textarea>

    <label>Finished:</label>
    <input id="completed" type="checkbox" name="completed" {{#if todo.completed}}checked{{/if}}>

    <input type="hidden" name="creationDate" value="{{todo.creationDate}}">
    <div class="addOrEdit-actionButtons">
        <input name="submit-type" type="submit" value="{{#if todo.title}}Update{{else}}Create{{/if}}">
        <input name="submit-type" type="submit" value="{{#if todo.title}}Update and Overview{{else}}Create and Overview{{/if}}">
        <input type="button" value="Overview" onclick="window.location.href='/'">
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<script>
window.onload = function() {
    document.getElementById('completed').addEventListener('change', function() {
        if (this.checked) {
            confetti({
                particleCount: 100,
                startVelocity: 30,
                spread: 360,
                origin: {
                    x: Math.random(),
                    y: Math.random() - 0.2
                }
            });
        }
    });
};
</script>
