<form method="post" action="/todos">
    {{#if todo}}
    <input type="hidden" name="id" value="{{todo._id}}">
    {{/if}}
    <label>Title:</label>
    <input type="text" name="title" value="{{todo.title}}">

    <label>Importance:</label>
    <input type="number" name="importance" value="{{todo.importance}}">

    <label>Due Date:</label>
    <input type="date" name="dueDate" value="{{todo.dueDate}}">

    <label>Description:</label>
    <textarea name="description">{{todo.description}}</textarea>

    <label>Finished:</label>
    <input type="checkbox" name="completed" {{#if todo.completed}}checked{{/if}}>
    
    <input type="submit" value="{{#if todo}}Update{{else}}Create{{/if}}">
</form>
