<div class="container mt-3 mb-3 d-flex justify-content-center">
	<h1>{{#if todo.title}}Update Todo{{else}}Create Todo{{/if}}</h1>
</div>
<form method="post" action="/todos">
	{{#if todo}}
		<input type="hidden" name="id" value="{{todo._id}}">
	{{/if}}
	<div class="mb-3">
		<label>Title</label>
		<label>
			<input type="text" name="title" class="col-12" value="{{todo.title}}" required>
		</label>
	</div>
	<div class="mb-3">
		<label>Importance</label>
		<label>
			<input type="number" name="importance" min="1" max="5" class="col-12" value="{{todo.importance}}" required>
		</label>
	</div>
	<div class="mb-3">
		<label>Due Date</label>
		<label>
			<input type="date" name="dueDate" class="col-12" value="{{todo.dueDate}}" placeholder="dd/mm/yyyy">
		</label>
	</div>
	<div class="mb-3">
		<label>Description</label>
		<label>
			<textarea name="description" class="col-12">{{todo.description}}</textarea>
		</label>
	</div>
	<div class="mb-3">
		<label for="completed"></label>
		<input id="completed" type="checkbox" name="completed" {{#if todo.completed}}checked{{/if}}>
		<label>Finished</label>
	</div>
	<input type="hidden" name="creationDate" value="{{todo.creationDate}}">
	<div class="addOrEdit-actionButtons">
		<input class="btn btn-primary" name="submit-type" type="submit"
			   value="{{#if todo.title}}Update{{else}}Create{{/if}}">
		<input class="btn btn-primary" name="submit-type" type="submit"
			   value="{{#if todo.title}}Update & Overview{{else}}Create & Overview{{/if}}">
		<input class="btn btn-primary" type="button" value="Overview" onclick="window.location.href='/'">
	</div>
</form>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script src="/js/addOrEdit.js"></script>