<h1>Todo App for MAS Software Engineering, Web Engineering 2</h1>
<button onclick="location.href='/todos/create'" class="btn btn-primary">Create New Todo</button>
<button id="sortByName">Name</button>
<button id="sortByDueDate">By due date</button>
<button id="sortByCreationDate">By creation date</button>
<button id="sortByImportance">By Importance</button>
<button id="filterCompleted">Filter Completed</button>
{{#if todos.length}}
<ul>
  {{#each todos}}
    <li>
      <div class="todo-card">
      <h2>{{this.title}}</h2>
      <p>Importance: {{this.importance}}</p>
      <p>Due Date: {{this.dueDate}}</p>
      <p>Description: {{this.description}}</p>
      <input type="checkbox" class="completed-checkbox" data-id="{{this._id}}" {{#if this.completed}}checked{{/if}}> Completed
      <a href="/todos/{{this._id}}">Edit</a>
      </div>
    </li>
  {{/each}}
</ul>
{{else}}
    <p>There are no todos.</p>
{{/if}}

<script src="/js/main.js"></script>
